# Now Preprocess The Data

In [117]:
import numpy as np
import pandas as pd

In [118]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

In [119]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [120]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [121]:
movies =movies.merge(credits,on="title")

In [122]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [123]:
#genres    type of movie like action comedy adventure documentry     
#id        movie id to find information about movie 
#keywords  culture clash spy dc comics based on novel 
#title     name of movie
#overview  what happen in movie
#cast      actors
#crew      director
movies = movies[["movie_id","title","overview","keywords","genres","cast","crew"]]
# print(movies["cast"])

In [124]:
movies.head(1)

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [125]:
movies.isnull().sum()   # checking wheather any data is null or not

movie_id    0
title       0
overview    3
keywords    0
genres      0
cast        0
crew        0
dtype: int64

In [126]:
movies.dropna(inplace=True)    # since null data is very small so droping these movies data from our set
movies.isnull().sum()

<ipython-input-126-505994992411>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)    # since null data is very small so droping these movies data from our set

movie_id    0
title       0
overview    0
keywords    0
genres      0
cast        0
crew        0
dtype: int64

In [127]:
movies.duplicated().sum() # to check Any duplicate data is present or not in data set
# movies.drop_duplicates(inplace=True)  # used to delete duplicate data

0

In [128]:
# since it genrate string object so we need to convert string object to normal object 
obj = movies.iloc[0].genres
print(obj)

[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

In [129]:
import json
obj = json.loads(movies.iloc[0].genres)
print(obj)

[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]

In [130]:
# [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
# ["action","Adventure","Fantasy","science Fiction"]  # need data in this form 
# convert function takes string list obj and return list of obj
def fatch_movieType(obj):
  arr=[]
  for i in json.loads(obj):
    arr.append(i["name"]);
  return arr;

In [131]:
movies["genres"]=movies["genres"].apply(fatch_movieType)

In [132]:
movies['keywords']=movies['keywords'].apply(fatch_movieType)

In [133]:
movies.head(1)

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [134]:
def fatch_topCrew(obj):
  arr=[]
  counter=0;
  for i in json.loads(obj):
    if counter!=3:
      arr.append(i["name"]);
      counter =counter+1
    else:
      break  
  return arr;

In [135]:
movies['cast']=movies['cast'].apply(fatch_topCrew)

In [136]:
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [137]:
def fatch_director(obj):
  arr=[]
  for i in json.loads(obj):
    if i['job']=="Director":
      arr.append(i["name"]); 
      break;
  return arr;

In [138]:
movies['crew']=movies['crew'].apply(fatch_director)

In [139]:
movies['crew']

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [140]:
#since overview is a string so we need to convert that string into list so we can cancate all the list 
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [141]:
movies['overview']
movies.head(1)

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [142]:
# surname of two author maybe same or last name maybe same to remove
# example like sam loda  sam bsdk here two here system can not identify which one is reccomend
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [143]:
movies.head(1)

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [144]:
# now concate all last 5 columns togather to make a single column 
movies['tags']=movies['overview']+movies['keywords']+movies['cast']+movies['crew']+movies['genres']
movies.head(1)

,movie_id,title,overview,keywords,genres,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [145]:
#now we need only three column movie_id title tags
newmovie_data =movies[['movie_id','title','tags']]
newmovie_data.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [146]:
newmovie_data['tags']=newmovie_data['tags'].apply(lambda x:" ".join(x))

<ipython-input-146-8b882e51e3dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newmovie_data['tags']=newmovie_data['tags'].apply(lambda x:" ".join(x))

In [147]:
newmovie_data['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Action Adventure Fantasy ScienceFiction'

In [148]:
# convert into small letters to no code mismatching
newmovie_data['tags']=newmovie_data['tags'].apply(lambda x:x.lower())

<ipython-input-148-e3e844a471b1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newmovie_data['tags']=newmovie_data['tags'].apply(lambda x:x.lower())

In [149]:
newmovie_data['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron action adventure fantasy sciencefiction'

In [150]:
# since some of the word like action or actions can be occure.these word store in diffrent  
# so we need to replace all word with same like action and actons are replace as action
# here we use that library to perform that task
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [151]:
def strm(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [152]:
newmovie_data['tags']=newmovie_data['tags'].apply(strm)

<ipython-input-152-76b4c38e21b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newmovie_data['tags']=newmovie_data['tags'].apply(strm)

In [153]:
newmovie_data['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron action adventur fantasi sciencefict'

# Building A model

In [154]:
#since we are found some similarity between text so get some related data to user 
#so we use vectorization in tags so when we search for particular thing/movie/actor than related 
# data will be showed on as roccomend to new user  this whole thing is doen by a library call sklearn
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words="english")

In [155]:
vectors=cv.fit_transform(newmovie_data['tags']).toarray()
cv.get_feature_names_out()   # use to show which words are use here

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [156]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [157]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [158]:
#Now to find the similarity we use cosin similarity (agnle between two movies)
from sklearn.metrics.pairwise import cosine_similarity

In [159]:
similarity=cosine_similarity(vectors)
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [165]:
# Now we have to create a function in which user input a movie and 
# we have to give related movies that particular movie
# function approch look like that we got a movie now using that movie 
# find the index of that movie and pass to similarity matrix of that movie
# that we sort that index and retrun top indexs 
# if we directly apply sort than we lost the movie index so before sort pair of index with similarity(index,similarity)
def reccomend(movie):
  movie_index=newmovie_data[newmovie_data['title']==movie].index[0]
  distance =similarity[movie_index]
  topfive_index =sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
  fatchmovies=[]
  for i in topfive_index:
    fatchmovies.append(newmovie_data['title'][i[0]])
  return fatchmovies
  
reccomend("Avatar")

['Aliens vs Predator: Requiem',
 'Aliens',
 'Anne of Green Gables',
 'Independence Day',
 'Titan A.E.']

In [171]:
val=newmovie_data['title']=='Spider'
index=0
num=0;
for i in val:
  if i == True:
    index=num;
  num =num+1 
print(index)

3089

In [161]:
import pickle

In [162]:
pickle.dump(newmovie_data.to_dict(),open('movies.pkl','wb'))

In [164]:
pickle.dump(similarity,open('similarity_movies.pkl','wb'))